<ion-header style="background-color:#FFF0F7" [translucent]="true">
  <ion-toolbar style="background-color:#FFF0F7">
    <ion-title>
      RERE
    </ion-title>
    <ion-badge style="background-color: antiquewhite; color:blueviolet; border-color: red;" slot="end">Buy Premium</ion-badge>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding-top:5%; padding-left: 2%;">
    <ion-label style="color:black;"><strong>Welcome,</strong></ion-label>
  </div>
  <div style="padding-top:1%; padding-left: 2%;">
    <ion-label style="color:black;"><strong>Dr. Anand</strong></ion-label>
  </div>
  <div style="padding-top:10%; padding-left: 2%;">
    <ion-label style="color:black;">Words of Affirmation</ion-label>
  </div>
  <ion-card style="background-color:#FFF0F7">
    <ion-card-content style="background-color:#FFF0F7 !important">
      <ion-list>
        <ion-item>
          <ion-thumbnail style="size:100px" slot="start">
            <img alt="Silhouette of mountains" src="../../assets/client.png" />
          </ion-thumbnail>
          <ion-label>ABC: 50%</ion-label>
          <ion-label>XYZ: 70%</ion-label>
          <ion-label>Status: Needs Help</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/client.png" />
          </ion-thumbnail>
          <ion-label>ABC: 50%</ion-label>
          <ion-label>XYZ: 70%</ion-label>
          <ion-label>Status: Needs Help</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/client.png" />
          </ion-thumbnail>
          <ion-label>ABC: 50%</ion-label>
          <ion-label>XYZ: 70%</ion-label>
          <ion-label>Status: Needs Help</ion-label>

        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/client.png" />
          </ion-thumbnail>
          <ion-label>ABC: 50%</ion-label>
          <ion-label>XYZ: 70%</ion-label>
          <ion-label>Status: Needs Help</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>